doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/reload-client.js')
    if tokens
      script#tokens(type='application/json')!= tokens
    if items
      script#items(type='application/json')!= items
