doctype html
html
  head
    title= title
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://use.fontawesome.com/7679cb9adf.js')
  body
    block content
